* {
  margin: 0px;
  padding: 0px;
}
/* Navbar Styles Starts */
.nav-container {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.logo-container {
  display: flex;
  padding: 35px;
  font-size: 25px;
  font-weight: 500;
}
.logo-info1 {
  height: 70px;
  margin-left: 10px;
  color: rgb(0, 149, 255);
}
.logo-info2 {
  height: 70px;
  margin-left: 10px;
}
.items {
  display: flex;
  list-style: none;
}
.item {
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}
/* Navbar Styles End */

/* Banner Styles Starts */
.banner-container {
  background-image: url("../images/banner/banner3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.banner-details {
  text-align: right;
  width: 70%;
}

.banner-title {
  color: white;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-left: 80%;
}
span {
  color: red;
}
.banner-description {
  text-align: center;
  margin-left: 80%;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
}
.btn-one {
  font-size: 20px;
  margin-left: 50%;
  color: blue;
  padding: 5px 20px;
  background-color: white;
  border-radius: 10px;
  width: 160px;
  height: 64px;
}
/* Banner Styles Ends */

/* Main Styles Starts */

.previous-year-failour {
  width: 80vw;
  height: 100vh;
  margin: 80px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.pyf-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  color: black;
}
.pyf-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 15px;
}
ul li {
  list-style: none;
}
.milestone-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.new-milestones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px 200px;
}

#mindset {
  background-image: linear-gradient(rgba(15, 10, 105, 0.999), rgba(0, 0, 0, 0)),
    url("../images/watch.png");
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0% 20% 5%;
}
.mindset-title {
  font-weight: 700;
  font-size: 25px;
  margin: 40px;
  width: 200px;
  height: 50px;
  color: #ffffff;
}
.mindset-btn {
  font-weight: 600;
  font-size: 20px;
  margin: 5%;
  color: #005fac;
  background-color: white;
  border-radius: 10px;
  width: 120px;
  height: 40px;
}
/* Main Styles End  */

/* Footer Styles Starts  */
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100%;
  background: #151414;
}
.future {
  font-weight: 400;
  font-size: 25px;
  height: 100%;
  width: 400px;
  color: white;
  margin-top: 20px;
}
.future p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}
.subscribe {
  font-size: 25px;
  color: white;
  padding: 10px;
  margin: 10px;
}
.email {
  width: 300px;
  height: 30px;
  background-color: white;
  color: #151414;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 8px;
  font-size: 13px;
  margin-bottom: 10px;
}
.btn-subs {
  font-size: 15px;
  color: white;
  padding: 5px 10px;
  background: #005fac;
  width: 150px;
  height: 50px;
}
/* Footer Styles Ends  */
